:root {
    --yellow: #fcca4d;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.custom-shape-divider-bottom-1655719888 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655719888 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1655719888 .shape-fill {
    fill: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}


p,a {
    font-family: 'Anek Malayalam', sans-serif;
}

a {
    text-decoration: none;
    font-size: 10px;
    color: white;
}


p {
    font-size: 20px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

.bg-yellow {
    background: var(--yellow);
}

/* header start */
header{
    color: #f3f4f6;
    background: var(--yellow);
    width: 100%;
    overflow: auto;
    padding-top: 20px;

    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    float: left;
    margin-left: 30px;
    font-size: 35px;
    text-shadow: 3px;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

nav{
    margin-top: 20px;
    padding-right: 50px;
}

header li {
    padding-left: 40px;
    display: inline;
}

nav button {
    margin: 0 2px;
    background: var(--yellow);
    border: none;
}

.ballon-nav a {
    text-align: center;
    color: #000000;
    display: block;
    margin: 2px 3px;
}



.ballon-nav {
    display: none;
    right: 50px;
    width: 75px;
    position: fixed;
    background: white;
    border-radius: 5px;
}

.dp-block{
    display: block;
}

/* header end */

/* profile  start*/
.profile {
    z-index: 999;
    position: fixed;
    width: 100%;
}

.profile table {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.data-profile {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    text-align: left;
    z-index: 1000;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    display: none;
}

.data-profile-active {
    display: block;
}

.profile img {

    display: block;
    padding-top: 30px;
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.simmbol-x {
    position: fixed;
    right: 0;
}

/* profile end */

/* jumbotron start */
#jumbotron {
    display: flex;
    background: var(--yellow);
    padding: 0 80px;
    padding-top: 50px;
    padding-bottom: 80px;
    /* height: 530px; */
}

#jumbotron2 {
    background: var(--yellow);
    height: 50px;
}

#jumbotron img {
    width: 75%;
    border-radius: 20px;
}

#keterangan {
    vertical-align: middle;
    width: 50%;
    color: #18181b;
    place-self: center;
}

#keterangan h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#imgjumbotron {
    width: 50%;
    text-align: center;
    place-self: center;
}


/* jumbotron end */


/* tentang kami start */
#tentang-kami{
    margin-top: 100px;
    padding-bottom: 150px;
}

.tentang-head hr, #gallery hr {
    width: 300px;
    height: 1px;
    background: black;
    border: none;
    margin: 3px auto;
}

.tentang-head span {
    cursor: pointer;
}

.tentang-head, #gallery-head {
    text-align: center;
}

.tentang-main {
    height: 250px;
    overflow: hidden;
}

.card {
    transition: 2s;
    z-index: 10;
    overflow: hidden;
    height: 170px;
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 3px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);}

.card {
    display: none;
}

.slide-button-active {
    box-shadow: 1px 1px 10px var(--yellow);
}

.box-active{
    display: flex;
}

.card-img {
    text-align: center;
    width: 50%;
    place-self: center;

}

.card img {
    width: 100%;
}

.card-p {
    text-align: center;
    place-self: center;
    width: 50%;
}


/* tentang kami end */

/* gallery start */

#gallery {
    background: #E7FAFF;
}

#gallery img {
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin: 4px 15px;
}

#gallery-body {
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    width: 60%;
    padding-top: 20px;
    margin: 0 auto;
    height: auto;
    background-color: #ffffff;
    columns: 20rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

}

/* footer start */
footer{
    padding-top: 0px;
    text-align: center;
    color: white;
    background: #000000;
}


@media only screen and (min-width: 600px) {
    #nav-button {
        display: none;
    }

    .tentang-main{
        height: 380px;
    }

    .card{
        height: 300px;

    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }

    nav ul {
        display: none;
    }

    #jumbotron {
        display: block;
        padding: 0 0;
    } 
    
    #imgjumbotron {
        width: 75%;
        margin: 0 auto;
        padding-top: 30px;
    }

    #keterangan {
        margin: 0 auto;
        padding: 0 15px;
        width: 80%;
        text-align: center;
    }

    #keterangan h2 {
        font-size: 20px;
    }
}

.custom-shape-divider-bottom-1655793163 {
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655793163 .shape-fill {
    fill: #E7FAFF;
}

